<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, minimum-scale=1">

    <title>DESCRPTIVE || Insights </title>
    <link href="assets/descriptive/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="assets/descriptive/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/descriptive/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="assets/descriptive/js/jquery-3.4.1.min.js"></script>
</head>

<body>
<div class="menu_wrapper fixedh invert">
    <header class="grid">
        <a href="/index" class="descrptive-logo" title="descrptive-logo">Descrptive Logo</a>
        <div class="hamburgermenu_icon" id="hammenu">
            <div></div>
        </div>
        <div class="navigation">
            <ul class="navrow">
                <ul id="primary-menu" class="menu nav-menu insights" aria-expanded="false">
                    <li><a href="/about-us" class="navlink">About</a></li>
                    <li><a href="/insights" class="navlink active">Insights</a></li>
                    <li><a href="/industries" class="navlink">Industries</a></li>
                    <li><a href="/services" class="navlink">Services</a></li>
                    <li><a href="/career" class="navlink">Career</a></li>
                    <li class="navlink btn"><a href="lead-form">Lets Talk</a></li>
                </ul>
            </ul>
        </div>
    </header>
</div>
    <div class="descrptive-section half-height">
        <div class="contentBox mrt">
            <h2 class="">Descrptive Insights</h2>
            <p class="">The latest content on how companies
                seek reinvention</p>

        </div>

    </div>



    <div class="d2block serviceblock-section ">
        <div class="grid">
            <div class="heading-box ourteam">
                <div class="tgrid2">
                    <div class="tgrid2clm">
                        <div class="item-full">
                            <h3>Featured Market Insights</h3>
                        </div>
                    </div>
                    <div class="tgrid2clm justify-end"> </div>
                </div>

            </div>
            <div class="tgrid2 serviceblock topmargin ourteam-member">

                <!-- <div class="tgrid2clm equalspace">
                    <div class="service-section">
                        <div class="imgbanner">
                            <img src="assets/descriptive/images/img-covid1-healthcare.jpg" />
                        </div>
                        <h3>Covid in India: An overview of the role of Covid in transforming healthcare in India
                            <a href="/insights/covid-leading-transformation-in-india.php" class="service-more"><i class="fa fa-arrow-down picon" aria-hidden="true"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="tgrid2clm equalspace">
                    <div class="service-section">
                        <div class="imgbanner">
                            <img src="assets/descriptive/images/img-insights-ai-for-vets.jpg" />
                        </div>
                        <h3>How Artificial Intelligence is Changing the Veterinary Industry
                            <a href="/insights/ai-in-vet-industry.php" class="service-more"><i class="fa fa-arrow-down picon" aria-hidden="true"></i></a>
                        </h3>
                    </div>
                </div> -->
                {% if insights_list %}
                    {% for insight in insights_list %}
                    <div class="tgrid2clm equalspace">
                        <div class="service-section">
                            <div class="imgbanner">
                                <img src={{insight.image}} />
                            </div>
                            <h3>{{insight.insight_name}}
                                <a href="/insight/{{insight.insight_name}}" class="service-more"><i class="fa fa-arrow-down picon" aria-hidden="true"></i></a>
                            </h3>
                        </div>
                    </div> 
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
    <div class="d2block serviceblock-section hide">
        <div class="grid">
            <div class="heading-box">
                <div class="tgrid2">
                    <div class="tgrid2clm">
                        <div class="item-full">
                            <h3>Our case studies</h3>
                            <p>Descrptive was the pioneer in business strategy when it was founded in 1963. Today, we
                                work closely with clients to embrace a transformational approach.</p>
                        </div>
                    </div>
                    <div class="tgrid2clm justify-end">
                        <a href="javascript:void(0)" class="service-more">Read more cases</a>
                    </div>
                </div>

            </div>
            <div class="tgrid2 serviceblock ">
                <div class="tgrid3clm equalspace">
                    <div class="service-section">
                        <div class="imgbanner">
                            <img src="assets/descriptive/images/Image.png" />
                        </div>
                        <h3>Strengthening an inclusive WASH ecosystem in India
                            <a href="javascript:void(0)" class="service-more"><i class="fa fa-arrow-down picon" aria-hidden="true"></i></a>
                        </h3>

                    </div>

                </div>
                <div class="tgrid3clm equalspace">
                    <div class="service-section">
                        <div class="imgbanner">
                            <img src="assets/descriptive/images/Image.png" />
                        </div>
                        <h3>Food Processing: Key to doubling farmers’ income
                            <a href="javascript:void(0)" class="service-more"><i class="fa fa-arrow-down picon" aria-hidden="true"></i></a>
                        </h3>

                    </div>
                </div>
                <div class="tgrid3clm equalspace">
                    <div class="service-section">
                        <div class="imgbanner">
                            <img src="assets/descriptive/images/Image.png" />
                        </div>
                        <h3>Reviving Aviation will need Strategic intent and bold...
                            <a href="javascript:void(0)" class="service-more"><i class="fa fa-arrow-down picon" aria-hidden="true"></i></a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d5block" id="lead-form">
        <div class="grid">
            <div class="subfooter">
                <div class="col-50 animate__animated">
                    <div class="fullbox">
                        <h3>Contact Us</h3>
                        <div class="subcontent">Provide us with some basic information, and we shall get in touch with you
                        </div>
                    </div>
                </div>
                <div class="col-50 ds animate__animated">
                    <form name='form-lead' id="form">
                    <div class="form50">
                        <div class="formBox ">
                            <label>Name</label>
                            <input type="text" name="name" placeholder="Name" value="" />
                        </div>
                        <div class="formBox">
                            <label>Email</label>
                            <input type="text" name="email"  placeholder="Email" value="" />
                        </div>
                        <div class="formBox">
                            <label>Phone</label>
                            <input type="text" name="phone"  placeholder="Phone" value="" />
                        </div>
                        <div class="formBox ">
                            <label>Name</label>
                            <select>
                                <option value="business-use">Business</option>
                                <option value="career-use">Career</option>
                            </select>
                        </div>
                        <div class="formBox">
                            <label>Comments</label>
                            <textarea type="text" name="comment" cols="2" rows="2" placeholder="Write a detailed project requirement" value="" /></textarea>
                        </div>
                        <div class="formBox">
                            <div class="upload-btn-wrapper">
                                <button class="upload-btn-wrapper_btn">Upload a file</button>
                                <input type="file" name="myfile" />
                            </div>
                        </div>

                        <input type="submit" type="submit" name="submit" value="Register Now" class="btn" onclick="submitForm()"/>
                        
                    </div>
    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="csfooter">
        <div class="grid">
            <div class="footerlogo">
                <img src="assets/descriptive/images/logodark.png" width="214" heght="67">
            </div>
            <div class="footer-item">
                <div class="footer-left">
                    <div class="flex-align">
                        <div class="col50">
                            <div class="add">Suite # 1105, 38 Dan Leckie Way Toronto M5V 2V6, Canada</div>
                            hello@descriptive.ai
                        </div>
                        <div class="col50">
    
                        </div>
                    </div>
    
                </div>
                <div class="footer-right">
                    <ul class="ftlink">
                        <li><a href="/about-us">About</a></li>
                        <li><a href="/insights">Insights</a></li>
                        <li><a href="/industries">Industries</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/career">Career</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerlogo hide">
                <ul class="sociallink">
                    <li><a href="https://www.facebook.com/k2sconsult" class="socialimg facebook invert">Facebook</a>
                    </li>
                    <li><a href="javascript:void(0)" class="socialimg twitter invert">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/company/k2sconsult" class="socialimg linkedin invert">Linkedin</a></li>
                    <li><a href="https://www.instagram.com/k2sconsult" class="socialimg insta invert">Instagram</a>
                    </li>
    
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="assets/descriptive/js/slick.min.js"></script>
<script src="assets/descriptive/js/descrptive.js"></script>
<script>
    function submitForm(){
        const form = document.getElementById('form');
        const xhttp = new XMLHttpRequest();
        var name =form.elements[0].value
        var email =form.elements[1].value
        var phone =form.elements[2].value
        var reason =form.elements[3].value
        var msg =form.elements[4].value
        xhttp.open("GET", `api/method/descriptive.api.handle_form/?name=${name}&email=${email}&phone=${phone}&reason=${reason}&msg=${msg}`);
        xhttp.send();
    }
</script>
</html>
